<h2>Overview</h2>

<h3>What is Polytalk</h3>
<p>Polytalk is a simple protocol which allows communication between different languages via TCP. The protocol uses a simple JSON object to pass back and forth request and response information from the server and client.</p>
<p>Polytalk currently supports <a href="/#/ruby">Ruby</a>, <a href="/#/node">Node.js</a> and <a href="/#/php">PHP</a>. Each language module consists of a server and client that both follow the exact same API so implementation is simple. Installation of all the modules is equally as simple, utilizing the popular package managers for each language.</p>
<p>Polytalk is plug and play meaning you don't have to do any extra coding to expose your methods from your existing code base. This is great for legacy code or teams of polyglot developers.</p>

<h3>Isn't this what APIs are meant for?</h3>
<p>Sure, although with APIs you need to either use a tool to generate the API or write the code yourself. All you have to do to expose your classes with Polytalk is make sure they are accessible from the server.</p>

<h3>The protocol</h3>
<p>The protocol is a simple language agnostic JSON object containing the class, method and arguments of what you are calling on the server. The server receives the request, parses it and then calls the method returning a response as either a string or JSON object. The client module will then parse the response and return it to the client.</p>

<h4>Example</h4>
<pre class="prettyprint">
{
    "class": "Model::Order",
    "method": "findBySize",
    "arguments": {
        "size": "small",
        "limit": 3
    }
}
</pre>

<table>
  <thead>
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>class</strong></td>
      <td>The class to call the method on. Namespaced classes require the <code>::</code> separator.</td>
    </tr>
    <tr>
      <td><strong>method</strong></td>
      <td>The method you want to call on the class (currently static methods only).</td>
    </tr>
    <tr>
      <td><strong>arguments</strong></td>
      <td>The arguments to inject into the method in key value pairs. The keys are arbitrary although it's a good idea to follow the arguments of the method for convention. Use <code>:argument</code> for ruby symbols.</td>
    </tr>
  </tbody>
</table>