<h2>PHP Guide</h2>

<h3>GitHub</h3>
<p>
  <strong><a href="https://github.com/andruu/polytalk-php">View polytalk-php on GitHub</a></strong>
  <br>
  <a href="https://github.com/andruu/polytalk-php/archive/master.zip">Download ZIP File</a> &nbsp; &middot; &nbsp; <a href="https://github.com/andruu/polytalk-php/archive/master.tar.gz">Download TAR Ball</a>
</p>

<h3>Installation</h3>
<p>The recommended way to install Polytalk is <a href="http://getcomposer.org/">through composer</a>.</p>
<pre class="prettyprint">
"require": {
  "polytalk/polytalk": "dev-master"
}
</pre>

<h3>Server Example</h3>
<p>Make sure that any classes you want to be exposed by the server to the client are included/required and accessible from the server.</p>
<pre class="prettyprint">
$server = new Polytalk\Server(['port' => 9090]);
$server->run(function ($connection, $request) use ($server) {
  $response = $server->call($request);
  $server->push($connection, $response);
});
</pre>

<h3>Client Example</h3>
<pre class="prettyprint">
$client  = new Polytalk\Client(['port' => 9090]);

$request = [
    'class' => 'Model::Order',
    'method' => 'findBySize',
    'arguments' => [
        'size' => 'small',
        'limit' => 3
    ]
];

// Return response
$response = $client->call($request);
var_dump($response);

// Callback
$first_order = $client->call($request, function ($response) {
  return $response[0];
});
var_dump($first_order);
</pre> 