<h2>Ruby Guide</h2>

<h3>GitHub</h3>
<p>
  <strong><a href="https://github.com/andruu/polytalk-ruby">View polytalk-ruby on GitHub</a></strong>
  <br>
  <a href="https://github.com/andruu/polytalk-ruby/archive/master.zip">Download ZIP File</a> &nbsp; &middot; &nbsp; <a href="https://github.com/andruu/polytalk-ruby/archive/master.tar.gz">Download TAR Ball</a>
</p>

<h3>Installation</h3>
<p>Add this line to your application's Gemfile:</p>
<pre class="prettyprint">gem 'polytalk'</pre>
<p>And then execute:</p>
<pre class="prettyprint">$ bundle</pre>
<p>Or install it yourself as:</p>
<pre class="prettyprint">gem install polytalk</pre>

<h3>Server Example</h3>
<p>Make sure that any classes you want to be exposed by the server to the client are included/required and accessible from the server.</p>
<pre class="prettyprint">
server = Polytalk::Server.new({ port: 9090 })
server.run do |connection, request|
  response = server.call(request)
  server.push(connection, response)
end
</pre>

<h3>Client Example</h3>
<p>Make sure to prepend your argument with <code>:</code> if you the ruby method accepts a symbol instead of a string.</p>
<pre class="prettyprint">
request = {
    class: 'Model::Order',
    method: 'findBySize',
    arguments: {
      size: 'large',
      limit: 3,
      symbol: ':first'
    }
}

client = Polytalk::Client.new({ port: 9090 })

puts client.call(request)

# Passing a block
first = client.call(request) do |r|
  r.first
end
puts first
</pre>